<!DOCTYPE html>
<html ng-app="basketballApp">
<head><title>Basketball App</title>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <link rel='stylesheet' type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
  <div class='container' ng-controller ="bBall as bBallCtrl">
    <div class="row">
      <p>Search:<input type="text" name="playerName" ng-model='name'></input></p>
      <button ng-click="sortType = 'last'; sortReverse = false">Reset Table</button>
  <table class="table-striped table">
<tr>
<th ng-click="sortType ='last'; sortReverse = !sortReverse"><a href=#>Player</a></td>
<th ng-click="sortType ='fieldGoals'; sortReverse = !sortReverse"><a href=#>FG</a></td>
<th ng-click="sortType ='fieldGoalsAttempted'; sortReverse = !sortReverse"><a href=#>FGA</a></td>
<th ng-click ="sortType ='points'; sortReverse = !sortReverse"><a href=#>Points</a></td>
<th ng-click="sortType ='fouls'; sortReverse = !sortReverse"><a href=#>Fouls</a></td>
</tr>
<tr ng-repeat ="player in bBallCtrl.data | orderBy: 'last' | orderBy:sortType:sortReverse | filter: {playerName: name}">
<td>{{player.playerName}} </br> <img src={{player.images[0]}}></td>
<td>{{player.fieldGoals}}</td>
<td>{{player.fieldGoalsAttempted}}</td>
<td>{{player.points}}</td>
<td>{{player.fouls}}</td>
</tr>
  </table>
</div>
</div>
</body>
</html>
